@import "base/helpers";

@include component(button) {

    // Variables ----------------------
    $inputs_borderRadius: 30px !default;
    $inputs_borderWidth: 1px !default;
    $inputs_borderColor: #eee !default;
    $inputs_color: #000 !default;
    $inputs_paddingVertical: .5rem !default;
    $inputs_paddingHorizontal: 1rem !default;

    $inputs_fontSize: 1rem !default;

    $button_secondaryBackground: white;
    $button_secondaryColor: #4C7EC5;
    $button_selectedColor: #4C7EC5;

    $button_primaryBackground: #4C7EC5 !default;
    $button_primaryColor: white !default;

    // Component ----------------------
    padding: $inputs_paddingVertical * 1.25 $inputs_paddingHorizontal * 3;
    background: transparent;
    border: none;
    color: $inputs_color;
    cursor: pointer;
    font-size: $inputs_fontSize;
    border-radius: $inputs_borderRadius;
    min-height: 60px;

    // Options ----------------------
    @include option(selected) {
        background: $button_selectedColor;
        border-color: transparent;
        color: white;
    };

    @include option(disabled) {
        opacity: 0.7;
        cursor: not-allowed;
    };

    @include option(primary) {
        color: $button_primaryColor;
        background-color: $button_primaryBackground;
    }

    @include option(secondary) {
        color: $button_secondaryColor;
        background-color: $button_secondaryBackground;
    }

    @include option(small) {
        padding: $inputs_paddingVertical * 0.75 $inputs_paddingHorizontal * 0.75;
        font-size: $inputs_fontSize * 0.8;
    };
};
