@import "base/helpers";

@include component(storyCard) {

  // Variables ----------------------
  $borderRadius: 2.5px;

  padding: $inputs_paddingVertical * 1.25 $inputs_paddingHorizontal * 3;
  border: none;
  color: #fff;
  cursor: pointer;

  width: 320px;
  height: 240px;
  margin: 10px;
  border-radius: $borderRadius;
  background-color: #d8d8d8;

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  font-family: Lora;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:hover {
    opacity: 0.8;
    transition: all 0.5s ease;
  }

  // Parts
  @include part(name) {
    height: 21px;
    font-family: Roboto;
    font-size: 1rem * 1.2;
    font-weight: 500;
    line-height: 1.31;
  }

  // Options ----------------------
  @include option(disabled) {
    opacity: 0.7;
    cursor: not-allowed;
  }
;

  @include option(selected) {
    border-color: transparent;
    color: white;
  }
;
}

;
