// Default driver (floats, etc)
@import "gridle/sass/gridle/gridle";
// Flex Driver
// @import "gridle/sass/gridle/gridle-flex";

// setting up the grid
@include gridle_setup( (
    context : 12,
    gutter-width : 40px,
) );

// make the use of media queries really easy
@include gridle_register_state (mobile, (
    max-width : 480px
));

@include gridle_register_state (phablet, (
    min-width : 481px,
    max-width: 700px
));

@include gridle_register_state (tablet, (
    min-width : 701px,
    max-width : 1024px
));

@include gridle_register_state (desktop, (
    min-width : 1025px
));

// even with full custom queries :
@include gridle_register_state (landscape, (
    query : "(orientation : landscape)"
));
