@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 70em) { @content ; }
    }
    @else if $point == laptop {
        @media (min-width: 64em) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 50em) { @content ; }
    }
    @else if $point == phablet {
        @media (min-width: 37.5em)  { @content ; }
    }
    @else if $point == mobileonly {
        @media (max-width: 37.5em)  { @content ; }
    }
    @else {
        @media (max-width: $point) { @content ; }
    }
}

@mixin shadowMe() {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
}

@mixin hideText() {
    display: inline-block;
    text-indent: -9999px;
}

@mixin silentFocus() {
    &:focus { outline: none; }
}

@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin toggleWithMobileMenu {
    display: none;

    @include breakpoint("phablet")
    {
        display: inline-block;
    }
}

@mixin verticalSpacing($multiplier: 1, $tabletMultiplier: 1, $mobileMultiplier: 1) {
    $verticalSpacing: 10px !default;

    padding-top: $verticalSpacing * $multiplier;
    padding-bottom: $verticalSpacing * $multiplier;

    @include gridle_state(tablet) {
        padding-top: ($verticalSpacing * $tabletMultiplier);
        padding-bottom: ($verticalSpacing * $tabletMultiplier);
    }

    @include gridle_state(mobile) {
        padding-top: ($verticalSpacing * $mobileMultiplier);
        padding-bottom: ($verticalSpacing * $mobileMultiplier);
    };
}
