@import "base/helpers";

@include component(logo) {

  /* 1:1.2333*/
  $logoWidth: 180px !default;
  $logoHeight: 40px !default;

  /*legacy:start*/
  width: auto !important;
  float: none;
  margin: 0;
  /*legacy:end*/

  /* IE needs float*/
  float: left;
  max-height: $logoWidth;
  padding-right: 3%;
  
  @include part(svg) {
    width: $logoWidth;
    height: $logoHeight;
    vertical-align: top;
  };

};
